@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
.bg {
  position: relative;
  background-image: url("../../images//menubg.jpg");
  height: 721px;
}

.content {
  top: 70%;
  left: 35%;
  transform: translate(-50%, -65%);
  position: absolute;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.menuheader {
  text-align: left;
  display: grid;
  grid-template-columns: 0.5fr;
}
.menuheader p {
  margin: 0;
  padding: 0;
  color: red;
  font-family: "Allura", cursive;
  font-size: 2.6rem;
}

.menuheader span {
  color: rgb(255, 255, 255);
  font-size: 2.6rem;
  margin-top: -20px;
}

.menuLoading {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-120%, -145%);
}
