.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(12, 12, 12, 0.568);
  padding: 20px 88.3px;
}
.title a {
  font-size: 2rem;
  color: white;
  font-weight: bolder;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}
.header li {
  margin: 0 1rem;
}
.header a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.header a:hover {
  color: rgb(225, 228, 49);
}

.b1 {
  background: transparent;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  border: none;
  color: white;
}
b1:hover {
  text-decoration-color: yellow;
}

.hamburger {
  display: none;
}
.mobileNav {
  display: none;
}

@media (max-width: 786px) {
  .header {
    padding: 10px;
  }
  .title a {
    font-size: 1rem;
  }
  .header ul {
    display: none;
    font-size: 0.8rem;
  }

  .mobileNav {
    display: flex;
    justify-content: center;
  }

  .h1 {
    color: aliceblue;
    position: relative;
  }

  .open {
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 1s;
  }
}
