.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(12, 12, 12, 0.568);
  padding: 5px 88.3px;
}
.title {
  color: white;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}
.header li {
  margin: 0 1rem;
}
.header a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.header a:hover {
  color: black;
}
.b1 {
  background: transparent;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  border: none;
  color: white;
}
