@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.signup {
  font-family: "Montserrat", sans-serif;
  width: 20rem;
  height: 30rem;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(17, 15, 15, 0.849);
  padding: 40px 32px;
  border-radius: 8px;
}

.signup h2 {
  font-size: 2.4rem;
  margin-top: 8px;
  text-align: center;
  color: white;
}
.inputdiv {
  margin-top: 15px;
}
.signup label {
  color: white;
}

.signup input {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 6px 4px;
  color: white;
  margin-top: 8px;
  width: 98%;
  align-items: center;
  outline: 0;
  border: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
.signup button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  width: 100%;
  margin-top: 45px;
  border-radius: 30px;
  border: transparent;
  font-size: 1.2rem;
  padding: 7px 12px;
}

.imgtag {
  /* margin: 0 auto; */
  /* padding: 0; */
  /* position: relative; */
  /* height: auto; */
  /* background-size: 50%; */
}
.imgtag img {
  height: 400 px;
  width: 100;
}
