.bg {
  background-image: url("../images/foodbg1.jpg");
  width: 100%;
  height: 721px;
  background-size: cover;
  position: relative;
}

.signup {
  width: 20rem;
  height: 30rem;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(17, 15, 15, 0.849);
  padding: 40px 32px;
  border-radius: 8px;
}

.signup h2 {
  font-size: 2.4rem;
  margin-top: 8px;
  text-align: center;
  color: white;
}
.inputdiv {
  margin-top: 15px;
}
.signup label {
  color: rgb(255, 255, 255);
}

.signup input {
  font-family: inherit;
  font-size: 1rem;
  padding: 6px 4px;
  color: white;
  margin-top: 8px;
  width: 98%;
  align-items: center;
  outline: 0;
  border: 0;
  background: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.signup button {
  font-family: inherit;
  cursor: pointer;
  width: 100%;
  margin-top: 45px;
  border-radius: 30px;
  border: transparent;
  font-size: 1.2rem;
  padding: 7px 12px;
}
@media (max-width: 768px) {
  .bg {
    height: 800px;
  }
  .signup h2 {
    color: white;
    font-size: 1.4rem;
    text-align: center;
  }
  .signup {
    width: 14rem;
    height: 29rem;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -63%);
    padding: 26px 32px;
  }
  .signup input,
  label {
    font-size: 1rem;
  }
  .signup button {
    font-size: 1rem;
  }
}
